<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 驼峰匹配 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 映射中缓存的全局开关 -->
		<setting name="cacheEnabled" value="ture" />
		<!-- 延迟加载的全局开关 -->
		<setting name="lazyLoadingEnabled" value="ture" />
		<!-- 按需加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	<plugins>
		<!-- 配置分页助手 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>
	</plugins>
</configuration>